<div class="user-profile">
    <div class="user-profile-list">
        <div class="user-profile-wrapper">
            <div class="profile-img">
                <img src="assets/img/main-avatar.png" alt="">
            </div>
            <div class="user-details">
                <h3 class="user-name">Saeed Asif</h3>
                <span class="user-role">Front-end Developer</span>
                <img class="adobe-certificate" src="assets/img/Component-1.png" alt="">
            </div>
        </div>
    </div>
</div>