.user-profile {
    height: 250px;
    background: linear-gradient(62.42deg, rgba(255, 255, 255, 0.1) 20.61%, rgba(255, 255, 255, 0) 82.27%);
    filter: drop-shadow(2px 4px 30px rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(35px);
    border-radius: 14px;
    margin-bottom: 20px;

    .user-profile-list {
        .user-profile-wrapper {
            padding: 20px 20px;
            text-align: center;
            display: flex;
            gap: 7px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .profile-img{
                img{
                border-radius: 50%;
                }
            }
            .user-details{     
            .user-name {
                color: #FFFFFF;
                margin-bottom: 10px;
            }
            .user-role {
                color: #24242E;
                font-weight: 400;
                padding: 3px 6px;
                background: #FBBB0E;
            }
            .adobe-certificate{
                margin-top: 13px;
            }
            }
        }
    }
}