<div class="about-section">

    <ng-container>
        <div class="user-profile-list-mobile ">   
            <div class="user-profile-list-container">
                <div class="user-profile-list-info">
                  <div class="user-profile-list-info-left">
                    <div>Residence:</div>
                    <div>City:</div>
                    <div>Language:</div>
                  </div>
                  <div class="user-profile-list-info-right">
                    <div>Dallas</div>
                    <div>Texas</div>
                    <div>English</div>
                  </div>
                </div>
                <div class="user-profile-list-tools-wrapper">
                  <div class="user-profile-list-tools-container">
                    <div class="user-profile-list-tools">
                      <div class="tools-outer-layer">
                        <div class="tools-inner-image">
                          <img
                            src="assets/img/figma.png"
                          />
                        </div>
                      </div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        width="60px"
                        height="60px"
                      >
                        <defs>
                          <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                          </linearGradient>
                        </defs>
                        <circle cx="30" cy="30" r="25" stroke-linecap="square" />
                      </svg>
                      <div class="tool-name">
                        <span>Figma</span>
                        </div>
                    </div>
            
                    <div class="user-profile-list-tools">
                      <div class="tools-outer-layer">
                        <div class="tools-inner-image">
                          <img
                            src="assets/img/adobe-xd.png"
                          />
                        </div>
                      </div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        width="60px"
                        height="60px"
                      >
                        <defs>
                          <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                          </linearGradient>
                        </defs>
                        <circle cx="30" cy="30" r="25" stroke-linecap="square" />
                      </svg>
                      <div class="tool-name">
                        <span>Adobe Xd</span>
                        </div>
                    </div>
            
                    <div class="user-profile-list-tools">
                      <div class="tools-outer-layer">
                        <div class="tools-inner-image">
                          <img
                            src="assets/img/sketch.png"
                          />
                        </div>
                      </div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.1"
                        width="60px"
                        height="60px"
                      >
                        <defs>
                          <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                          </linearGradient>
                        </defs>
                        <circle cx="30" cy="30" r="25" stroke-linecap="square" />
                      </svg>
                      <div class="tool-name">
                        <span>Sketch</span>
                        </div>
                    </div>
            
                    <div class="user-profile-list-tools">
                        <div class="tools-outer-layer">
                          <div class="tools-inner-image">
                            <img
                              src="assets/img/invission-app.png"
                            />
                          </div>
                        </div>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          version="1.1"
                          width="60px"
                          height="60px"
                        >
                          <defs>
                            <linearGradient id="GradientColor">
                              <stop offset="0%" stop-color="#e91e63" />
                              <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                          </defs>
                          <circle cx="30" cy="30" r="25" stroke-linecap="square" />
                        </svg>
                        <div class="tool-name">
                        <span>Invisionapp</span>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="user-profile-list-skills-whole-wrapper">
                  <div class="user-profile-skills-progressbar-wrapper">
                    <div class="profile-skills-lists">
                      <span class="profile-skill-name">SEO/SEM</span>
                      <span class="profile-skill-percentage">90%</span>
                    </div>
                    <div class="profile-skills-progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 90%"
                      ></div>
                    </div>
                  </div>
                  <div class="user-profile-skills-progressbar-wrapper">
                    <div class="profile-skills-lists">
                      <span class="profile-skill-name">HTML/CSS</span>
                      <span class="profile-skill-percentage">80%</span>
                    </div>
                    <div class="profile-skills-progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                      ></div>
                    </div>
                  </div>
                  <div class="user-profile-skills-progressbar-wrapper">
                    <div class="profile-skills-lists">
                      <span class="profile-skill-name">jquery</span>
                      <span class="profile-skill-percentage">70%</span>
                    </div>
                    <div class="profile-skills-progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 70%"
                      ></div>
                    </div>
                  </div>
                  <div class="user-profile-skills-progressbar-wrapper">
                    <div class="profile-skills-lists">
                      <span class="profile-skill-name">Salesforce</span>
                      <span class="profile-skill-percentage">90%</span>
                    </div>
                    <div class="profile-skills-progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 90%"
                      ></div>
                    </div>
                  </div>
                  <div class="user-profile-skills-progressbar-wrapper">
                    <div class="profile-skills-lists">
                      <span class="profile-skill-name">CMS/CRM</span>
                      <span class="profile-skill-percentage">80%</span>
                    </div>
                    <div class="profile-skills-progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                      ></div>
                    </div>
                  </div>
                  <div class="user-profile-skills-progressbar-wrapper">
                    <div class="profile-skills-lists">
                      <span class="profile-skill-name">WordPress/Joomla</span>
                      <span class="profile-skill-percentage">80%</span>
                    </div>
                    <div class="profile-skills-progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </ng-container>
    <div class="title-about">
        <h2 class="title-heading">About Me</h2>
        <p class="title-desc">
          An accomplished Software Engineer with almost 5+ years of 
          professional experience. I have worked on large-scale projects and 
          applied good programming techniques to solve complex problems. I 
          learned how to write good object-oriented, scale-able, and 
          maintainable code. I have been also responsible for code reviews. A 
          computer geek who loves to explore new technologies and is always 
          ready to face new challenges.
        </p>
        <p class="title-desc"> Specializes in WordPress, Shopify, and front-end development. Has a proven track record of delivering high-quality websites and online stores.Proficient in Shopify development, including design, layout, payment gateway integration, and third-party app integration.Skilled in front-end development, including HTML, CSS, SCSS, jquery, JavaScript, Angular etc, and able to build responsive and interactive websites.
    </p>
    </div>
<div class="about-container">
<h2 class="title-heading">What I Do</h2>
    <div class="about-row">
        <div class="about-columns">
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Wireframing-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Wireframing</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Information-Architecture-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Information Architecture</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Storyboard-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Storyboard</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-columns">
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Agile-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Agile</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/Prototyping-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>Prototyping</h4>
                    </div>
                </div>
            </div>
            <div class="about-cards">
                <div class="about-inner-card">
                    <div class="about-card-img">
                        <img src="assets/img/W3C-icon.svg" width="65" alt="">
                    </div>
                    <div class="card-heading">
                        <h4>W3C Web Standards</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>