.contact-me{
  h1{
    font-weight: 700;
    font-size: 31px;
    line-height: 46px;
    color: #FFFFFF;
    padding-top: 2rem;
  }
  .get-in-touch{
  margin-top: 3rem;
    h2,span{
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    color: #FBBB2E;
    }
    span{
      color:#FFFFFF
    }
  }
  .contact-details-wrapper{
    display: flex;
    align-items: center;
    .contact-details-icons-wrapper{
      width: 50%;
      padding-left: 2rem;
      .contact-details-social-icons{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
        color: #FFFFFF;
        .icon-background{
          background-image: url('/assets/img/icons-background.svg');
          background-repeat: no-repeat;
          padding: 17px 19px;
          background-size: 65px;
        }
        a{
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width:700px){
  .contact-me{
    h1{
      font-size: 25px;
      padding-top: 0px;
    }
    .get-in-touch{
      margin-top: 0rem;
      h2,span{
        font-size: 18px;
      }
    }
    .contact-details-wrapper{
    align-items:flex-start;
    flex-direction: column;
    margin-top: 1rem;
    .contact-details-icons-wrapper,
    .contact-details-avatar{
      width: 100%;
    }
    }
    .contact-details-icons-wrapper{
      padding-left: 0px!important;
    }
    .contact-details-avatar{
      img{
        width: 100%;
      }
    }
  }
}








@media (max-width:700px){
  .contact__container-icons{
    margin-top: 2rem !important;
    gap: 2rem !important;
    flex-direction: column;
    .contact__container-icons-container{
      width: 100% !important;
    }
  }
}