<div class="contact">
  <h1>Contact Us</h1>
  <div class="contact__container">
    <div class="contact__container-icons">
      <div class="contact__container-icons-container">
        <img src="/assets/img/email-icon.svg" alt="email" />
        <a href="mailto:mirzashahryarbaig@gmail.com">mirzashahryarbaig@gmail.com</a>
      </div>
      <div class="contact__container-icons-container">
        <img src="/assets/img/phone.svg" alt="phone" /> 
        <a href="tel:+923324740308">+92 332 4740 308</a>

      </div>
    </div>
    <div class="contact__container-icons">
      <div class="contact__container-icons-container">
        <img src="/assets/img/location.svg" alt="location" /> Lahore, Pakistan
      </div>
      <div class="contact__container-icons-container">
        <img src="/assets/img/skype.svg" alt="skype" /> shahryar-baig
      </div>
    </div>
  </div>
</div>
