<div class="contact-me">
  <h1>Contact Us</h1>
  <div class="get-in-touch">
    <h2>Would Love to Hear from you,</h2>
    <span>Get in Touch</span>    
  </div>
  <div class="contact-details-wrapper">
    <div class="contact-details-icons-wrapper">
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/location-icon.svg" alt="location" />
        </div>
        <a href="#">Lahore, Pakistan</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/phone-icon.svg" alt="phone" /> 
        </div>
        <a href="tel:+923324740308">+92 332 4740 308</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/skype-icon.svg" style="margin-left: -3px;" alt="skype" />
        </div>
        <a href="#">shahryar-baig</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/linkedin-icon.svg" alt="linkedin" />
        </div>
        <a href="https://www.linkedin.com/in/shahryar-baig-936076145" target="_blank">shahryar-baig</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/mail-icon.svg" style="margin-left: -3px;" alt="email" />
        </div>
        <a href="mailto:mirzashahryarbaig@gmail.com">mirzashahryarbaig@gmail.com</a>
      </div>
    </div>
    <div class="contact-details-avatar">
      <img src="assets/img/contact-avatar.png" alt="">
    </div>
  </div>
</div>

